<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
    >
        <div class="text-lg font-medium">Nuevo Usuario</div>
        <button mat-icon-button (click)="discard()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="composeForm"
    >
        <mat-form-field>
            <mat-label>USUARIO</mat-label>
            <input matInput [formControlName]="'user'" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>EMAIL</mat-label>
            <input matInput [formControlName]="'email'" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>CONTRASEÑA</mat-label>
            <input matInput [formControlName]="'password'" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>R. CONTRASEÑA</mat-label>
            <input matInput [formControlName]="'r_password'" />
        </mat-form-field>

        <!-- Actions -->
        <div
            class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6"
        >
            <div class="flex space-x-2 items-center mt-4 sm:mt-0">
                <button
                    class="ml-auto sm:ml-0"
                    [color]="'warn'"
                    mat-stroked-button
                    (click)="discard()"
                >
                    Cancelar
                </button>
                <button
                    class="ml-auto sm:ml-0"
                    [color]="'primary'"
                    mat-stroked-button
                    (click)="send()"
                >
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>
